body
{
   background-image: url('bg.jpg');
   background-repeat: no-repeat;
  background-size: 100%;
}

h1
{
    text-align: center;
    color: white;
    background-color: palevioletred;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 2px grey;
}

form 
{
    background-color: gray;
    float: left;
    margin-left: 100px;
    box-shadow: 2px 2px 2px grey;
}

input
{
    text-align: center;
}

table
{
    border: 1px;
    float: left;
    margin-left: 50px;
    box-shadow: 2px 2px 2px grey;
}
